  /* ____________________________________card_________________________________________________________________ */
  @media (max-width:350px) {
    .card-body{
        padding: 15px;
        font-size: 12px !important;
    }
    .card{
        margin-top: 20px;
    }
}
/* .workshop-card{
    margin-top: 83% !important;
    
} */
/* Workshop Details Card */
.card{
  margin-top: 11%;
  padding: 10px !important;
  /* padding-left: -42% !important; */
  /* padding-top: ; */
}

.workshop-card {
    background-color: white;
    margin-top: 60px !important;
    /* padding: 10px; */
    /* padding-right: -10px; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

/* Workshop Details List */
.workshop-detail-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between icon and text */
    font-size: 20px;
    font-weight: 800;
    /* margin-bottom: 10px; */
}

.sub-cont{
  font-size: 15px;
  text-align:end !important;
}
/* Icons Styling */
.workshop-detail-item i {
    font-size: 20px; /* Adjust icon size */
    color: #333; /* Icon color */
}
.workshop-detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workshop-detail-item .sub-cont {
  margin-left: auto;
  text-align: right;
}

.register-btn{
  margin-top: 9%;
  width: 60%;
  height:48px;
  background-color: black;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-left: 21%;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
}